# Console driver configuration options

# Copyright (c) 2014-2015 Wind River Systems, Inc.
# Copyright (c) 2016 Cadence Design Systems, Inc.
# SPDX-License-Identifier: Apache-2.0

# Setting shared by different subsystems

menuconfig CONSOLE
	bool "Console drivers"

if CONSOLE

config CONSOLE_INPUT_MAX_LINE_LEN
	int "Console maximum input line length"
	default 128
	help
	  This option can be used to modify the maximum length a console input
	  can be.

config CONSOLE_HAS_DRIVER
	bool
	help
	  This is an option to be enabled by console drivers to signal
	  that some kind of console exists.

config CONSOLE_INIT_PRIORITY
	int "Console init priority"
	default 60 if UART_CONSOLE || XTENSA_SIM_CONSOLE
	default KERNEL_INIT_PRIORITY_DEFAULT
	help
	  Console driver device initialization priority.

rsource "Kconfig.ipm"
rsource "Kconfig.jailhouse"
rsource "Kconfig.ram"
rsource "Kconfig.rtt"
rsource "Kconfig.uart"

config UART_MCUMGR
	bool "Mcumgr UART driver"
	select UART_INTERRUPT_DRIVEN
	help
	  Enable the mcumgr UART driver. This driver allows the application to
	  communicate over UART using the mcumgr protocol for image upgrade and
	  device management. The driver doesn't inspect received data (as
	  contrary to console UART driver) and all aspects of received protocol
	  data are handled by an application provided callback.

if UART_MCUMGR

config UART_MCUMGR_RX_BUF_SIZE
	int "Size of receive buffer for mcumgr fragments received over UART, in bytes"
	default 128
	help
	  Specifies the size of the mcumgr UART receive buffer, in bytes. This
	  value must be large enough to accommodate any line sent by an mcumgr
	  client.

config UART_MCUMGR_RX_BUF_COUNT
	int "Number of receive buffers for mcumgr fragments received over UART"
	default 2
	help
	  Specifies the number of the mcumgr UART receive buffers.  Receive
	  buffers hold received mcumgr fragments prior to reassembly.  This
	  setting's value must satisfy the following relation:
	  UART_MCUMGR_RX_BUF_COUNT * UART_MCUMGR_RX_BUF_SIZE >=
	  MCUMGR_TRANSPORT_UART_MTU

endif # UART_MCUMGR

config XTENSA_SIM_CONSOLE
	bool "Use Xtensa simulator console"
	depends on SIMULATOR_XTENSA
	depends on !WINSTREAM_CONSOLE
	select CONSOLE_HAS_DRIVER
	default y
	help
	  Use simulator console to print messages.

config POSIX_ARCH_CONSOLE
	bool "Use the host terminal for console"
	depends on ARCH_POSIX
	select CONSOLE_HAS_DRIVER
	help
	  Zephyr's printk messages will be directed to the host terminal stdout

config POSIX_ARCH_CONSOLE_INIT_PRIORITY
	int "Init priority"
	default 99
	depends on POSIX_ARCH_CONSOLE
	help
	  Device driver initialization priority.

config SEMIHOST_CONSOLE
	bool "Use semihosting for console"
	select CONSOLE_HAS_DRIVER
	depends on SEMIHOST
	help
	  Enable this option to use semihosting for console.
	  See SEMIHOST for a more complete description of semihosting.

config EFI_CONSOLE
	bool "Use EFI console for console output"
	select CONSOLE_HAS_DRIVER
	help
	  Enable this option to use EFI console output.

config WINSTREAM_CONSOLE
	bool "Use Winstream console"
	depends on WINSTREAM
	select CONSOLE_HAS_DRIVER
	help
	  Use winstream as a console.

	  See the WINSTREAM Kconfig help for more information.

if WINSTREAM_CONSOLE

config WINSTREAM_CONSOLE_STATIC
	bool "Use static/linkable memory for the winstream console"
	default y if !SOC_FAMILY_INTEL_ADSP
	help
	  The winstream console can be configured to use simple linker
	  memory which can help avoid manual memory management at the
	  platform layer.  The memory should be pointed to by the
	  symbol "_winstream_console_buf" and have size set by
	  CONFIG_WINSTREAM_CONSOLE_SIZE.

config WINSTREAM_CONSOLE_STATIC_SIZE
	int "Size of winstream console buffer"
	default 32768
	help
	  Size of winstream console buffer, in bytes

endif # WINSTREAM_CONSOLE

endif # CONSOLE
