# Copyright (c) 2025 The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

# Workaround for not being able to have commas in macro arguments
DT_CHOSEN_Z_RAM_CONSOLE := zephyr,ram-console

menuconfig RAM_CONSOLE
	bool "Use RAM console"
	select CONSOLE_HAS_DRIVER
	select RAM_CONSOLE_BUFFER_SECTION if $(dt_chosen_enabled,$(DT_CHOSEN_Z_RAM_CONSOLE))
	help
	  Emit console messages to a RAM buffer "ram_console" which can
	  be examined at runtime with a debugger. Useful in board bring-up
	  if there aren't any working serial drivers.

if RAM_CONSOLE

config RAM_CONSOLE_BUFFER_SECTION
	bool "Use dedicated section as RAM console buffer"
	depends on $(dt_chosen_enabled,$(DT_CHOSEN_Z_RAM_CONSOLE))
	select KERNEL_DIRECT_MAP if MMU
	help
	  Use a dedicated section as the RAM console buffer, whose address is
	  known before build so that the console output messages can be easily
	  examined by a debugger or software tool from a parallel-running OS.

config RAM_CONSOLE_BUFFER_SIZE
	int "Ram Console buffer size"
	default $(dt_chosen_reg_size_int,$(DT_CHOSEN_Z_RAM_CONSOLE)) if RAM_CONSOLE_BUFFER_SECTION
	default 1024
	help
	  Total size of the RAM console buffer, to ensure it's always
	  NULL-terminated leave one byte unused, the actual length is
	  one byte less. Messages will wrap around if the actual length
	  is exceeded.

endif # RAM_CONSOLE
